*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
}
.container {
    background-color: #ffffff; /* White background color */
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 200px; /* Add some padding to the container */
    border-radius: 10px; /* Add rounded corners to the container */
    box-shadow: 0px 0px 10px #cccccc; /* Add a shadow effect to the container */
  }
.detail{
    padding: 30px;
    background-color: white;
    margin-top: -180px;
}
td{
    padding: 20px;
    
}
.container2 {
    background-color: #ffffff; /* White background color */
    width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 50px; /* Add some padding to the container */
    border-radius: 10px; /* Add rounded corners to the container */
    box-shadow: 0px 0px 10px #0b0b0b; /* Add a shadow effect to the container */
    color: rgb(70, 64, 188);
    
  }
  button{
    display: inline-block;
    background: #161514;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;

  }
  .btn{
    margin-top: -180px;
  }

  /* media query */
  